/* Navbar Styles */

.navbar {
  position: sticky !important;
  top: 0;
  background-color:  #002060;
  color: #fff;
  padding-bottom: 12px;
  z-index: 100;
}

.navContainer {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 22px;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #002060;
  border-radius: 8px;
  padding: 20px;
}

.dropdown-menu.open {
  display: block;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    z-index: 100;
  }
  
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu.open {
    display: block;
    /* position: relative; */
  }


  /* Remove display: none from the .navbar-toggle class */
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 120px;
    right: 10px;
    z-index: 100;
  }
}
